@tailwind base;
@tailwind components;
@tailwind utilities;

 body{
  overflow-x: hidden;
 }
 .__className_aaf875{
  background-color: #fff4df;
 }

 .logo{
  padding: 50px;
 }
 .home{
  padding: 50px;
 }
 .home div h1{
font-size: 64px;
font-weight: 500;
color: #000;
 }
 .index_1{
  background-image: url('./images//index_1.png');
  background-color: #fff4df;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
 }
 .index_2{
  background-image: url('./images//index_2.png');
 }
 .index_3{
  background-image: url('./images//index_3.png'); 
  background-repeat: repeat-x;
 }
 .index_6{
  background-image: url('./images//index_6.png'); 
  background-repeat: repeat-x;
 }
 .index_7{
  background-image: url('./images//index_7.png'); 
  background-repeat: repeat-x;
 }
 .span_text {
  display: inline-block;
  animation: slideIn 7s linear infinite; /* Adjust animation properties */
  background-color: #fff4df;
  padding: 5px;
}
.span_text_culture{
  animation: slideInCulture 2s linear infinite;
}
/* styles.css */
@keyframes changeWidth {
  0% {
    width: 80%; /* Initial width */
  }
  50% {
    width: 60%; /* Intermediate width */
  }
  100% {
    width: 80%; /* Back to initial width */
  }
}

@keyframes changeWidthRight {
  0% {
    width: 80%; 
  }
  50% {
    width: 100%;  
  }
  100% {
    width: 80%; 
  }
}

@keyframes slideIn {
  0%, 100% {
    transform: translateX(20%);
  }
  50% {
    transform: translateX(50%);
  }
}
/* @keyframes slideInCulture {
  0%, 100% {
    transform: translateX(80%);
  }
  50% {
    transform: translateX(100%);
  }
} */

/* Apply width animation to .slide_left and .slide_right */
.slide_left{
  animation: changeWidth 5s ease-in-out infinite alternate;
}
.slide_right {
  animation: changeWidthRight 5s ease-in-out infinite alternate;
}

/* Apply both width and translation animations to .slide_left */
/* .slide_left .span_text {
  animation: changeWidth 2s ease-in-out infinite alternate, slideIn 2s linear infinite;
} */

/* Apply both width and translation animations to .slide_right */
/* .slide_right .span_text {
  animation: changeWidthRight 2s ease-in-out infinite alternate, slideIn 2s linear infinite;
} */

.span_text {
  display: inline-block;
  background-color: #fff4df;
}

.first_heading h1{
  display: flex;
  justify-content: space-between;
}
.text_middle_img{
  width: 100px;
  height: 50px;
}
/* .cstm_width span{
  width: 70%;
} */
.cstm_yellow{
  background-color: #fff4df;
  padding: 5px;
}
.culture_text{
  width: 100%;
  display: flex;
  justify-content: center;
}

.events{
  background-color: #15181b; 
  color: #fff;
}
.events_left_wrapper{
  padding: 50px 0 50px 50px;
}
.events_right_wrapper{
  padding: 50px 50px 50px 0;
}
.events_text h1{
  font-size: 120px;
  font-weight: 700;
  color: #444649;
}

.slick-slide div{
  width: 350px !important; 
}
 
.slick-current,.slick-cloned{ 
  width: 380px !important;
}
.slick-slide {
  position: relative;
}

.slick-slide::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity as needed */
  z-index: 1; /* Ensure the overlay is above the slide content */
}

.slick-slide.slick-active + .slick-slide::after {
  display: none; /* Hide overlay for the next slide after the active slide */
}
.slick-slider button{
  display: none !important;
}
/* .events_wrapper{
  position: relative;
}
.events_slider{
  position: absolute;
  top: 0;
} */

.events_right_content_top p{
  font-size: 26px;
  font-weight: 700;
}
.events_right_content_head h2{
  font-size: 52px;
  font-weight: 700;
}
.place p{
  font-size: 22px;
  font-weight: 600;
}
.artist h2{
  font-weight: 600;
  font-size: 24px;
}
.events_slider {
  position: relative;
  top: -38rem; 
}

.scale_img{
  transform: scale(1.1);
}
.join_btn{
  border-radius: 40px;
  background-color: #FFCA5F; 
  color: #000;
  padding: 10px;
  font-size: 24px;
  font-weight: 700;
}

.marquee-container {
  height: 100%; /* Set the height of the container to the viewport height */
  overflow: hidden;
  white-space: nowrap;
  background-color: #b9a0ff;
  position: relative;
}

.marquee {
  display: inline-block;
  animation: marquee 2s linear infinite;
  color: #000;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  left: -34rem;
  line-height: 30px;
}

@keyframes marquee {
  0% {
    transform: translateY(100%) rotate(90deg); /* Start from bottom */
  }
  100% {
    transform: translateY(-100%) rotate(90deg); /* Move up by the height of the container */
  }
}

.rotated { 
  transform: rotate(90deg);
  display: inline-block; /* Ensures it's treated as a block element */
}

.events_left_wrapper{
  height: 0;
}
.toggle_btn_events{
  background-color: #282B30;
  padding: 20px;
  border-radius: 100px 0 0 100px;
  font-weight: 700;
  font-size: 18px;
}
.toggle_btn_collections{
  background-color: #282B30;
  padding: 20px;
  border-radius: 0 100px 100px 0;
  font-weight: 700;
  font-size: 18px;
}
.toggle_btn_collections.active,.toggle_btn_events.active{
  background-color: #484E56;
}